#frame02 {
	font-family: "Source Sans 3", sans-serif;
	color: #56565a;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
}
#frame02 .content-wrapper {
	display: flex;
	flex-wrap: wrap;
	padding: 60px;
	gap: 60px;
}

#frame02 .content-wrapper > div {
	display: flex;
	flex-wrap: wrap;
	width: calc(50% - 60px);
}
#frame02 .article-wrapper {
	flex-direction: column;
	justify-content: center;
}

#frame02 h2 {
	font-family: "Roboto Condensed";
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 38px;
}
#frame02 .article {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 30px;
}
#frame02 .actions {
	display: flex;
	gap: 15px;
}
#frame02 .actions > button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 40px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	background-color: #0a467e;
	border: none;
}

#frame02 .actions > button:hover {
	cursor: pointer;
}

#frame02 .card {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	border: 1px solid #ededed;
	background: #f7f7f7;
	padding: 22px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#frame02 .card > img {
	width: 30px;
	margin: 15px;
}
#frame02 .card > p {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
}
#frame02 .card > h4 {
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
}

#frame02 .card > hr {
	margin: 15px auto;
	width: 170px;
}

#frame02 .cards {
	gap: 15px;
}
#frame02 .right-col,
#frame02 .left-col {
	display: flex;
	flex-direction: column;
	width: 270px;
	gap: 15px;
}

#frame02 .right-col {
	align-items: stretch;
}
#frame02 .right-col .card {
	display: flex;
	height: 100%;
}
