.partnership {
	font-family: "Source Sans 3", sans-serif;
	color: #56565a;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	background-color: #fff;
}

.partnership-content {
	display: flex;
	flex-wrap: wrap;
	padding: 60px;
	gap: 60px;
}

.partnership__article-wrapper,
.partnership__cards {
	display: flex;
	flex-wrap: wrap;
	width: calc(50% - 60px);
}

.partnership__article-wrapper {
	flex-direction: column;
	justify-content: center;
}

.partnership__article-title {
	font-family: "Roboto Condensed";
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 38px;
}
.partnership__article {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 30px;
}
.partnership__actions {
	display: flex;
	gap: 15px;
}
.partnership__action-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 40px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	background-color: #0a467e;
	border: none;
}

.partnership__action-button:hover {
	cursor: pointer;
}

.partnership__cards {
	gap: 15px;
}
.partnership__left-col,
.partnership__right-col {
	display: flex;
	flex-direction: column;
	width: 270px;
	gap: 15px;
}

.partnership__right-col {
	align-items: stretch;
}

.partnership__card {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	border: 1px solid #ededed;
	background: #f7f7f7;
	padding: 22px;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}
.partnership__card-img {
	width: 30px;
	margin: 15px;
}
.partnership__card-text {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
}
.partnership__card-title {
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
}

.partnership__card-hr {
	margin: 15px auto;
	width: 170px;
}

.card > hr {
	margin: 15px auto;
	width: 170px;
}
