@font-face {
	font-family: "GalanoGrotesque-Medium";
	font-style: normal;
	font-weight: 400;
	src: local("GalanoGrotesque-Medium"),
		url("./fonts/GalanoGrotesque-Medium.woff2") format("woff2"),
		url("./fonts/GalanoGrotesque-Medium.woff") format("woff");
}

#frame01 {
	font-family: "Open Sans";
}
#frame01 .header {
	margin: 80px auto;
	width: 845px;
}

#frame01 .header h2 {
	background: linear-gradient(90deg, #4343ff 0%, #f96d6d 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: fit-content;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	text-transform: uppercase;
}
#frame01 .header h1 {
	color: var(--black-whites-110-c-11, #110c11);
	text-align: center;
	font-family: "GalanoGrotesque-Medium";
	font-size: 46px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 55.2px */
}
#frame01 .solutions {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 36px;
}

#frame01 .solution {
	width: calc(100% / 3 - 36px);
	display: inline-flex;
	padding: 22px;
	flex-direction: column;
	align-items: flex-start;
	gap: 28px;
	background-color: white;
}

#frame01 .solution > h3 {
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

#frame01 .solution > p {
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
}
